/*
 * Some css in this file might be slightly reverse engineered, simplified
 * and adapted from the CSS of the original discord webapp.
 * Hey, we're making an inofficial client, what did you expect?
 */

html, body {
	margin: 0;

	color: #737f8d;

	font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
	/*font-size: 0.9375rem;
	line-height: 1.1em;
	white-space: pre-wrap;*/
	word-wrap: break-word;
}
html {
	background-color: #36393e;
}
html.showAuth {
	background-color: #1e2124;
}

/* hide all views by default */
#auth, #navigation, #channel, #userinfo {
	display: none;
}
/* only show when a parent element has a class telling us to show the element */
.showAuth #auth {
	display: initial;
}
.showNav #navigation {
	display: initial;
}
.showChannel #channel {
	display: initial;
}
.showUserinfo #userinfo {
	display: initial;
}


a {
	color: #00b0f4;
    cursor: pointer;
    text-decoration: none
}

ul, li {
	display: block;
	margin: inherit;
	padding: inherit;
}

.clear {
	clear: both;
}

#auth {
	/* fill whole screen, from pos 0 */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* but not larger than this */
	max-width: 800px;
	max-height: 500px;
	/* content only needs so much size,
	 split the rest evenly as a margin in all directions */
	margin: auto;
	background: #1e2124;
	/* if anything else is still displayed, show auth dialog above */
	z-index: 10;
}
#auth .brand {
	/* a little clearence around the branding */
	padding: 20px;
	/* use at most 30% of the parent box, aim for 100px */
	max-height: 30%;
	height: 100px;
	text-align: center;
	font-size: .85em;
}
#auth .logo {
	margin: auto;
	/* use logo from discord servers */
	background: url(https://discordapp.com/assets/4f004ac9be168ac6ee18fc442a52ab53.svg) no-repeat center;
	/* size logo so it fits perfectly in the box */
	background-size: contain;
	max-width: 300px;
	max-height: 100px;
	width: 100%;
	/* leave some space for the subtitle/disclamer */
	height: calc(100% - 14px);
}
#auth form {
	padding: 10px;
}
#auth form h1 {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 30px;
	text-align: center;
	text-transform: uppercase;
}
#auth form button, #auth form input[type="button"], #auth form .btn {
	border: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 10px 20px;
    position: relative;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    transition: background-color .2s ease-out;
    -webkit-transition: background-color .2s ease-out;
}
#auth form label {
	color: #87909c;
	display: block;
	margin: 15px 0 0;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
}
#auth form input {
	border: none;
	border-bottom: 1px solid hsla(0,0%,100%,.1);
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 1px;
	outline: none;
	resize: none;
	margin-top: 12px;
	line-height: 34px;
	border-radius: 0;
	width: calc(100% - 2px);
	background: transparent;
	color: #fff;
}
#auth form input:focus {
	border-bottom: 2px solid #f0f0f0;
	margin-bottom: 0;
}
#auth form input:disabled {
	opacity: .6;
}
#auth form .btn-primary {
	display: inline-block;
    line-height: 58px;
    margin: 40px 0 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
    background-color: #7289da;
    border-radius: 3px;
    color: #fff;
}
#auth form .btn-primary:hover {
	background-color: rgb(105, 126, 196);
}
#auth form .btn-primary:disabled, #auth form .btn-primary:disabled:hover {
	background-color: #99AAB5;
}
#auth form footer {
	color: #87909c;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0;
    margin-top: 10px;
    margin: 30px 0 15px;
}
#auth form footer a {
	color: #fff;
    text-decoration: none;
}


#navigation .guilds {
	padding: 15px;
	background: #1e2124;
}

#navigation .channels {
	padding: 10px;
}

#navigation ul li {
	padding: 3px;
}

#navigation .channels .text {
	color: #dcddde;
}

#navigation .channels .voice {
	color: #737f8d;
}


#channel .header, #channel .log, #channel .input {
	padding: 10px;
}
#channel .log .author h3 {
	color: #fff;
	font-size: 1rem;
}
#channel .log time {
	color: hsla(0,0%,100%,.2);
	font-size: .75rem;
	margin-left: .3rem;
}
#channel .log .content {
	color: #dcddde;
	font-size: 0.9375rem;
	line-height: 1.3;
}



#userinfo {
	/* strech over whole screen, from pos 0 */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* but not larger than this */
	max-width: 800px;
	max-height: 500px;
	/* content only needs so much size,
	 split the rest evenly as a margin in all directions */
	margin: auto;
}

#userinfo .user {
	background-color: rgba(32,34,37,.6);
	border: 1px solid #202225;
	border-radius: 5px;
	padding: 20px;
}

#userinfo .user img.avatar {
	max-width: 300px;
	max-height: 300px;
}

#userinfo .user p {
	position: relative;
	margin-top: 20px;
	font-size: 16px;
}
#userinfo .user p:not(:last-of-type) {
	padding-bottom: 20px;
}
#userinfo .user .label, #userinfo .user p::before {
	position: absolute;
	text-transform: uppercase;
	color: rgba(220,221,222,.3);
	top: -20px;
	font-size: 12px;
}

#userinfo .user .username::before {
	content: "Username"
}
#userinfo .user .tag::before {
	content: "Username"
}
#userinfo .user .email::before {
	content: "Email"
}
#userinfo .user .id::before {
	content: "ID"
}
